<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout/default}"
>
<head>

</head>

<body>
<div class="content-wrapper" layout:fragment="content">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <!-- Basic with Icons -->
      <div class="col-xxl">
        <div class="card mb-4">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Basic with Icons</h5>
            <small class="text-muted float-end">Merged input group</small>
          </div>
          <div class="card-body">
            <form th:action="@{/admin/user/new}" th:object="${user}" method="post">
              <input type="hidden" th:field="*{userId}" />
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Name</label>
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                              <span id="basic-icon-default-fullname2" class="input-group-text"
                              ><i class="bx bx-user"></i
                              ></span>
                    <input
                            type="text"
                            class="form-control"
                            placeholder="이름"
                            th:field="*{userName}"

                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Company</label>
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                              <span id="basic-icon-default-company2" class="input-group-text"
                              ><i class="bx bx-buildings"></i
                              ></span>
                    <input
                            type="text"
                            id="basic-icon-default-company"
                            class="form-control"
                            placeholder="ACME Inc."
                            aria-label="ACME Inc."
                            aria-describedby="basic-icon-default-company2"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Email</label>
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                    <input
                            type="text"
                            id="basic-icon-default-email"
                            class="form-control"
                            placeholder="john.doe"
                            aria-label="john.doe"
                            aria-describedby="basic-icon-default-email2"
                    />
                    <span id="basic-icon-default-email2" class="input-group-text">@example.com</span>
                  </div>
                  <div class="form-text">You can use letters, numbers & periods</div>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Phone No</label>
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                              <span id="basic-icon-default-phone2" class="input-group-text"
                              ><i class="bx bx-phone"></i
                              ></span>
                    <input
                            type="text"
                            id="basic-icon-default-phone"
                            class="form-control phone-mask"
                            placeholder="658 799 8941"
                            aria-label="658 799 8941"
                            aria-describedby="basic-icon-default-phone2"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 form-label" for="basic-icon-default-message">Message</label>
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                              <span id="basic-icon-default-message2" class="input-group-text"
                              ><i class="bx bx-comment"></i
                              ></span>
                    <textarea
                            id="basic-icon-default-message"
                            class="form-control"
                            placeholder="Hi, Do you have a moment to talk Joe?"
                            aria-label="Hi, Do you have a moment to talk Joe?"
                            aria-describedby="basic-icon-default-message2"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  <!-- Footer -->
  <div th:insert="~{admin/fragments/footer :: footer}"></div>
  <!-- / Footer -->

  <div class="content-backdrop fade"></div>

  <script>

const table = $('#dataTable').DataTable({
    dom: 'Bfrtip',
    buttons: [
        {
            text: '추가',
            className: 'btn-primary',
            action: function ( e, dt, node, config ) {
                clearPopupData();
                $eventModal.modal('show');
            }
        },
        {
        extend: 'selected',
            text: '삭제',
            className: 'btn-danger',
            action: function ( e, dt, node, config ) {
                if(confirm('삭제 하시겠습니까?')){
                    const rowId = dt.rows( { selected: true } ).data()[0].id;
                    $.get('/admin/api/event/delete/' + rowId, function(){
                        dt.ajax.reload();
                    });
                }
            }
        }
    ],
    select: {
        style:    'single',
        //selector: 'td:first-child'
    },
    "processing": true,
    "serverSide": true,
    "info": true,
    "stateSave": true,
    "rowId": 'id',
    "ajax":{
        url: "/admin/api/event/getList",
        "data": function ( d ) {
          var info = $('#dataTable').DataTable().page.info();
          return {
            draw: d.draw,
            page: info.page,
            length: info.length,
            sortColumn:  d.columns[d.order[0].column].data,
            sortDirection: d.order[0].dir.toUpperCase(),
            search: d.search.value,
          }
        },
        "dataSrc": function(d){
            return d.data;
        }


    },
    columnDefs: [
        {
            "targets": [1, 2],
            "render": function ( data, type, row, meta ) {
                return '<a href="javascript:editPopup('+ row.id + ')">' + data + '</a>';
            },
        }
    ],
    "columns" : [
        {"name": "eventId", "data": "id", visible: false },
        {
            "name": "rowId",
            "data": "id",
            "render": function (data, type, row, meta) {
                return meta.row + meta.settings._iDisplayStart + 1;
            }
        },
        {"name": "title", "data": "title"},
        {"name": "description", "data": "description"},
        {"name": "startDate", "data": "startDate"},
        {"name": "endDate", "data": "endDate"},
        {"name": "closed", "data": "closed"}
    ]
});

//Functions


// Event Listener



</script>
</div>

</body>
</html>
