<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout/default}"
>
<head>
    <link rel="stylesheet" href="/assets/datatables/datatables.css" />
    <script src="/assets/datatables/datatables.min.js"></script>

</head>

<body>
<div class="content-wrapper" layout:fragment="content">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table id="dataTable" class="display table compact cell-border" style="width:100%">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>이벤트명</th>
                            <th>설명</th>
                            <th>시작일</th>
                            <th>종료일</th>
                            <th>상태</th>
                        </tr>
                        </thead>
                    </table>

                </div>
            </div>

        </div>


    </div>
    <!-- / Content -->

    <!-- Footer -->
    <div th:insert="~{admin/fragments/footer :: footer}"></div>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
<script>
$(document).ready(function () {
    $('#dataTable').DataTable({
        "processing": true,
        "serverSide": true,
        "info": true,
        "stateSave": true,
        "ajax":{
            url: "/admin/api/event/getList",
            "data": function ( d ) {
              var info = $('#dataTable').DataTable().page.info();
              return {
                draw: d.draw,
                page: info.page,
                length: info.length
              }
            },

        },
        columnDefs: [
            {
                "targets": [0, 1],
                "render": function ( data, type, row ) {
                    return '<a href="/admin/event/'+ row.id + '">' + data + '</a>';
                },
            }
        ],
        "columns" : [
            {
                "data": "rowId",
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {"data": "title"},
            {"data": "description"},
            {"data": "startDate"},
            {"data": "endDate"},
            {"data": "closed"}
        ]

    });
});
</script>
</div>

</body>
</html>
