<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout/default}"
>
<head>

</head>

<body>
<div class="content-wrapper" layout:fragment="content">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table id="dataTable" class="display table compact cell-border" style="width:100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>번호</th>
                            <th>이벤트명</th>
                            <th>설명</th>
                            <th>시작일</th>
                            <th>종료일</th>
                            <th>상태</th>
                        </tr>
                        </thead>
                    </table>

                </div>
            </div>

        </div>


    </div>
    <!-- / Content -->

    <!-- Footer -->
    <div th:insert="~{admin/fragments/footer :: footer}"></div>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>

    <div class="modal fade" id="eventModal" tabindex="-1" style="display: none;" aria-hidden="true">
        <form id="modalForm">
            <input type="hidden" id="eventId" name="eventId" value="" />
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCenterTitle">이벤트 추가</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-3">
                                <label for="title" class="form-label">이벤트명</label>
                                <input type="text" id="title" name="title" class="form-control" placeholder="이벤트명">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="description" class="form-label">설명</label>
                                <input type="text" id="description" name="description" class="form-control" placeholder="이벤트 설명">
                            </div>
                        </div>
                        <div class="row g-2">

                            <div class="col mb-0">
                                <label for="startDate" class="form-label">시작일</label>
                                <input type="date" id="startDate" name="startDate" class="form-control" placeholder="YYYY-MM-DD">
                            </div>
                            <div class="col mb-0">
                                <label for="endDate" class="form-label">종료일</label>
                                <input type="date" id="endDate" name="endDate" class="form-control" placeholder="YYYY-MM-DD">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameWithTitle" class="form-label">상태</label>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="btnSave" class="btn btn-primary" >Save changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
<script>

const $eventModal = $('#eventModal');

const table = $('#dataTable').DataTable({
    dom: 'Bfrtip',
    buttons: [
        {
            text: '추가',
            className: '',
            action: function ( e, dt, node, config ) {
                clearPopupData();
                $eventModal.modal('show');
            }
        },
        {
        extend: 'selected',
            text: '삭제',
            className: 'btn-danger',
            action: function ( e, dt, node, config ) {
                if(confirm('삭제 하시겠습니까?')){
                    const rowId = dt.rows( { selected: true } ).data()[0].id;
                    $.get('/admin/api/event/delete/' + rowId, function(){
                        dt.ajax.reload();
                    });
                }
            }
        }
    ],
    select: {
        style:    'single',
        //selector: 'td:first-child'
    },
    "processing": true,
    "serverSide": true,
    "info": true,
    "stateSave": true,
    "rowId": 'id',
    "ajax":{
        url: "/admin/api/event/getList",
        "data": function ( d ) {
          var info = $('#dataTable').DataTable().page.info();
          return {
            draw: d.draw,
            page: info.page,
            length: info.length
          }
        },
        "dataSrc": function(d){
            return d.data;
        }


    },
    columnDefs: [
        {
            "targets": [1, 2],
            "render": function ( data, type, row, meta ) {
                return '<a href="javascript:editPopup('+ row.id + ')">' + data + '</a>';
            },
        }
    ],
    "columns" : [
        {"name": "eventId", "data": "id", visible: false },
        {
            "name": "rowId",
            "data": "rowId",
            "render": function (data, type, row, meta) {
                return meta.row + meta.settings._iDisplayStart + 1;
            }
        },
        {"name": "title", "data": "title"},
        {"name": "description", "data": "description"},
        {"name": "startDate", "data": "startDate"},
        {"name": "endDate", "data": "endDate"},
        {"name": "closed", "data": "closed"}
    ]
});

//Functions
const editPopup = rowId => {
    const d = table.row('#' + rowId).data();
    table.settings().init().columns.forEach(col=> $('#' + col.name).val(d[col.data]));
    $eventModal.modal('show');
}

const clearPopupData =_=> table.settings().init().columns.forEach(col=> $('#' + col.name).val(''));


// Event Listener
$('#btnSave').click(function(){
    const param = $('#modalForm').serialize();
    console.log(param);
    const url = param.eventId != '' ? '/admin/api/event/update/' + param.eventId : '/admin/api/event/new';

    $.put(url, param, _=> {
        $eventModal.modal('hide');
        table.ajax.reload();
    });
});


</script>
</div>

</body>
</html>
